body {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    height: 350px;
    width: 100%;
    background-color: rgb(2, 2, 165);
}

.first-nav {
    color: white;
}

.first-nav>span>h2 {
    font-weight: bold;
}

.second-nav {
    color: white;
}

.card-bg {
    background-image: url(https://r-xx.bstatic.com/xdata/images/xphoto/714x300/293799350.jpeg?k=8a6f4e24c37096fbdcd3c3d30c9f3dcea15ce35751448466decf791918012a64&o=);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .image::-webkit-scrollbar{
    display: none;
} */
.image>img {
    border-radius: 10px;
}

.city-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.city-card>img {
    border-radius: 10px;
}

.city {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
}

.city>img {
    border-radius: 10px;
}

.offer>span {
    border: 1px solid black;
    border: none;

}

.second-nav>span:hover {
    background-color: rgb(3, 150, 209);
    cursor: pointer;
    border: 1px solid white;
    height: 50px;
    width: 30px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.stay-bar {
    border: 1px solid white;
    height: 50px;
    width: 30px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(3, 150, 209);
}

.offer>span:hover {
    background-color: lightgray;
    border-radius: 15px;
}

.rawa>div>img {
    border-radius: 10px;
}

.small-container {
    height: 180px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: rgba(211, 211, 211, 0.1);
}

.last-web {
    height: 220px;
    width: 100%;
    background-color: rgb(1, 1, 100);
    color: white;
    text-align: center;
}

.last-web>div>input {
    height: 40px;
    width: 300px;
    border-radius: 6px;
}

.last-middle-web {
    height: 70px;
    width: 100%;
    background-color: rgb(4, 4, 138);
    columns: white;
    border: 1px solid white;
}

.last-middle-web>p {
    border: 1px solid white;
    width: 150px;
    height: 30px;
    text-align: center;
}

.booking-card>div:hover {
    text-shadow: 1px 1px 1px gray;
    box-shadow: 3px 3px 3px gray;

}

.web {
    height: 40px;
    background-color: rgb(4, 4, 138);
    ;
}

.web>span {
    text-decoration: underline;
}

@media (max-width : 772px) {
    .two-pic {
        display: none;
    }

    .browser {
        margin-top: 150px;
    }
    .nav-item{
        display: none;

    }
    .s{
        display: none;
    }
    .city-card>img{
        height: 100px;
        width: 200px;
    }
    .city>img{
        height: 100px;
        width: 150px;
    }
    
}
@media (min-width:772px) and (max-width:1400px){
    .two-icon{
        display: none;
    }
}